<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<meta charset="UTF-8">
<title>Car List</title>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h1>Cars List</h1>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Model</th>
    <th scope="col">Body Type</th>
    <th scope="col">Year Of Issue</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="car : ${cars}">
    <th scope="row">Car -></th>
    <td th:text="${car.getModel}"/>
    <td th:text="${car.getBodyType()}"/>
    <td th:text="${car.getYearOfIssue()}"/>
  </tr>
  </tbody>
</table>

</body>
</html>